version: "2.4"
services:
  hello-world-db:
    image: mysql:8.0.19
    ports:
      - "3308:3306"
    environment:
      - "MYSQL_USER=admin"
      - "MYSQL_PASSWORD=admin"
      - "MYSQL_ROOT_PASSWORD=root"
      - "MYSQL_DATABASE=hello_world"
    volumes:
      - ./hello-world-db:/var/lib/mysql